 <!DOCTYPE html>
<html>
<title>W3.CSS</title>

  
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:35%">
  <img src="11.jpg">
  <center>
    <div class="probox">

    </div>
  <h4><b>HELLO .....<br>
    Welcome Stark!!!</b></h4>
  </center>
</div>

<!-- Page Content -->
<div style="margin-left:35%">
  <div class="container">
    <div class="main">
      <div class="topbar" background-color="teal"; overflow="hidden";>
        <a href="home.html">Logout</a>
        <a href="">Support</a>
        <a href="">Edit Profile</a>
      </div>

<center>
<div class="col-md-8 mt-1">
  <div class="card mb-3 content">
    <h1 class="m-3 pt-3">About</h1>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <h5>Full Name</h5>
      </div>
      <div class="col-md- text-secondary">
           Stark
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <h5>Email</h5>
      </div>
      <div class="col-md-9 text-secondary">
         stark@gmail.com
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <h5>Ph</h5>
      </div>
      <div class="col-md-9 text-secondary">
         7594532210
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <h5>Educational Qualificaton</h5>
      </div>
      <div class="col-md-9 text-secondary">
         B.E-CSE, Anna University(2018-2021),CGPA-9.8
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <h5>Aquired Skills</h5>
      </div>
      <div class="col-md-9 text-secondary">
         Web develpoment
         python
         java
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <h5>Area OF Interest</h5>
      </div>
      <div class="col-md-9 text-secondary">
         Software Develpoment
         Web Develpoment
      </div>
    </div>
    <hr>
  </div>
</div>
</div>
</div>
</center>

</div>
      
<div class="probox">

</div>
