<html>
<head>
<title>Sign-In</title>
<link rel="stylesheet" type="text/css" href="signin.css"></head>
<body > 
   <div class="loginbox">
    <img src="avatar.jpg" class="avatar">
    <h1>LOGIN HERE</h1>
    <form method="post" action="profile.html">
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password">
        
        </a><p class="text-center">
          <a href="/user.html">Login</a>
        </p>
        <h4>Forget Password?</h4>
        <h4>New User?</h4><p class="text-center">
          Create an account <a href="/signup.html">Click here</a>
        </p>
          
        </form>
  </body>
</html>